{% extends 'admin_base.html.twig' %}

{% block title %}Matiere-Coeficient -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

<div id="flash_message"></div>
	
	<div id='add-Matiere_coef'>
		<h6 class='text-secondary'>
			Veuillez rechercher un Niveau !!!
		</h6>
	</div>

	<div class="table-container mt-5">
		<div class='tab-search-bar'>
			{{ form_start( form ) }}
			<div class="input-group">
				{{ form_widget( form.Niveau ) }}
				<button class="btn btn-info" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
			{{ form_end( form ) }}
		</div>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Liste des matières <span id='niveau-name'></span>
			</h5>
		</div>
		<table class="table table-md  table-hover">
			<thead class=''>
				<tr>
					<th>
						Dénomination
						<i class="fas fa-tag text-primary"></i>
					</th>
					<th>
						Abréviation
						<i class="fas fa-font text-primary"></i>
					</th>
					<th>
						Coéfient
						<i class="fas fa-divide text-primary"></i>
					</th>
					<th>Action
						<i class="fas fa-cogs text-primary"></i>
					</th>
				</tr>
			</thead>
			<tbody id='tab_body_stream'></tbody>
		</table>
	</div>
{% endblock %}
