<div class="my-back-dorp my-back-dorp-delete d-none" onclick="close_alert( this )">
	<div class="myalert">
		<div class='my-alert-btn-close'>
			<button type="button" class="btn-close" onclick="close_alert( this )" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="my-icone-alert text-danger">
			<i class="fa fa-exclamation-circle"></i>
		</div>
		<div class="my-texte-alert">
			<p>Voullez vous vraiment supprimer ?</p>
		</div>
		<div class="my-btn-alert">
			<button id='confirmDelete' class='btn btn-sm btn-danger'>
				<i class="fa-solid fa-trash"></i>
				Supprimer
			</button>
			<button class='btn btn-sm btn-info' onclick="close_alert( this )">
				<i class="fa fa-times"></i>
				Annuler
			</button>
		</div>
	</div>
</div>

{# utilisation de add falsh #}
{% for type , message  in  app.flashes %}
	{{ alert( message[0]  , type )|raw}}
{% endfor %}
