<turbo-stream action="update" target="__form__">
	<template>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				{{title }}
			</h5>
		</div>
		{{ form_start( form )}}
		{{ form_widget( form )}}
		<div class="boutton__">
			<button class='btn btn-info ' type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form )}}
	</template>
</turbo-stream>
