{% extends 'base.html.twig' %}

{% block title %}Frais | Parametre
{% endblock %}

{% block body %}
	{% include "partials/admin/sidebare.html.twig" with { 
            titleMenu : titleMenu ,
            menuListes : menuListes 
    } %}
    <div class='corps'>
        <h1>TESTE</h1>
    </div>
{% endblock %}
