.my-back-dorp {
    backdrop-filter: blur(2px);
    transition: filter 0.3s ease ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.myalert {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    z-index: 2001;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 12px 12px 24px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(0, 0, 0, 0.1), -12px -12px 24px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.my-alert-btn-close {
    position: absolute ;
    top: 5px ;
    right: 5px ;
}

.my-icone-alert {
    font-size: 100px;
    text-align: center;

}

.my-texte-alert {
    text-align: center;
    padding: 5px;
    padding-top: 0 ;
    margin-bottom: 10px ;
}

.my-btn-alert {
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}