* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100% ;
    min-height: 100vh;
}
p {
    margin: 0 ;
}

.btn-my-primary {
    background-color: #08090a;
    color: white;
}

.btn-my-primary:hover {
    background-color: #08090ae8;
    color: rgb(204, 204, 204);
    transition: all .5s ease ;
}

/* Connexion style  */

.connexion {
    width: 100%;
    height: 100vh;
    background-image: url('../image/connexion-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative ;
}
.blender {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0 ;
    background-color: #353535bd ;
    z-index: 100;
}

.form-title {
    border-bottom: 2px solid #a7a2a9;
}
.connexion-container {
    width: 400px ;
    margin: 0 auto;
    background-color: #f4f7f5;
    padding: 20px 15px;
    border-radius: 3px;
    box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.78);
    position: absolute  ;
    z-index: 1000;
    top: 40% ;
    left: 50% ;
    transform: translate( -50%  , -50% );
}

.connexion-container .form-group {
    position: relative;
}

.connexion-container .form-group input {
    text-indent: 25px;
}

.connexion-container .icon-connexion {
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 20px;
    color: rgb(117, 117, 117);
}

/* Connexion style  */

/* Menu  */
.container-menu  a{
    text-align: left ;
}
/* Menu  */

