.side-title {
    border-bottom: 2px solid #f4f7f5 ;
}
.sidebare{
    width: 250px ;
    background-color: #08090a ;
    color: #f4f7f5;
    position: fixed ;
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    padding: 10px 0 0 10px ;
}

.side-navigation ul {
    list-style-type: none ;
    padding: 0 ;
}

.side-navigation .menu-liste:hover  {
    background-color: #131416;
}
.side-navigation .menu-liste a {
    margin-bottom: 5px ;
    padding: 7px 0 ;
    border-radius: 3px ;

    display: block ;
    width: inherit ;
    height: inherit ;
    color: #a7a2a9 ;
    text-decoration: none ;
    font-size: 15px ;
}
.side-navigation .menu-liste .menu-icone  {
    display: inline-block;
    text-align: center ;
    width: 25px ;
}

/*  Head  */
.head {
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.322) ;
    width: 100% ;
    height: 51px ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    padding: 0 10px ;
    display: flex ;
    align-items: center ;
    justify-content: right ;
    color: #a7a2a9 ;
}

.user-info-container {
    border: 1px solid #a7a2a9 ;
    padding: 5px ;
    border-radius: 3px ;
    position: relative ;
    display: flex ;
    gap: 10px ;
    cursor: pointer ;

}

