* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #97a1a4;
}

.form-control,
.form-select,
.form-select.ui.dropdown,
.form-check-input {
    border-color: #9c9e9f;
}

.form-check-input {
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #97a1a4 transparent;
}


.__delete_form {
    display: inline-block;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ecf0f1;
}
p {
    margin: 0;
}

.boutton__ {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.btn-my-primary {
    background-color: #08090a;
    color: white;
}

.btn-my-primary:hover {
    background-color: #08090ae8;
    color: rgb(204, 204, 204);
    transition: all .5s ease;
}

/* **************************** */
table {
    border-collapse: collapse;
}

thead,
tfoot {
    background: #343a40;
    color: white;
}

tbody {
    display: block;
    max-height: 400px;
    /* Hauteur max du tbody */
    overflow-y: auto;
    /* Activation du scroll */
    width: 100%;
}

thead,
tfoot,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* Empêche le décalage des colonnes */
}
