* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #97a1a4;
}

/* ********* spinners ************ */

.spinner {
    margin: auto ;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.modal-edit {
    position: relative ;
}
.editspinner {
    position: absolute ;
    top: 0 ;
    bottom: 0 ;
    left: 0 ; 
    right: 0 ;
    background: #0000000f;
    z-index: 1000;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.loader-spinner {
    z-index: 2020 !important ;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* ********* spinners ************ */

.form-control,
.form-select,
.form-select.ui.dropdown,
.form-check-input {
    border-color: #9c9e9f;
}

.form-check-input {
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #97a1a4 transparent;
}


.__delete_form {
    display: inline-block;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ecf0f1;
}

p {
    margin: 0;
}

.boutton__ {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.btn-my-primary {
    background-color: #08090a;
    color: white;
}

.btn-my-primary:hover {
    background-color: #08090ae8;
    color: rgb(204, 204, 204);
    transition: all .5s ease;
}

/* **************************** */
table {
    border-collapse: collapse;
}

thead,
tfoot {
    background: #343a40;
    color: white;
}

tbody {
    display: block;
    max-height: 400px;
    /* Hauteur max du tbody */
    overflow-y: auto;
    /* Activation du scroll */
    width: 100%;
}

thead,
tfoot,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* Empêche le décalage des colonnes */
}