<div class="onglet">
	<nav>
		<ul>
			{% if  onglets is defined %}
				{% for onglet , item in onglets %}
					<li class='{{ item.active }}'>
						<a href="{{ (item.href != '') ? path( item.href ) : '#' }}">
							<span class='me-1'>
								{{ item.icone|raw }}
							</span>
							{{ onglet  }}
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</nav>
</div>
