/* Bleu */
/* :root {
    --primary-color: #124559;
    --secondary-color: #598392;
    --text-color: #5b5b5b;
    --white : #ffffff ;
    --black : #222222 ; 
} */

/* vert */
/* :root {
    --primary-color: #52796f;
    --secondary-color: #84a98c;
    --text-color: #5b5b5b;
    --white : #ffffff ;
    --black : #222222 ; 
} */
/* Maront */
/* :root {
    --primary-color: #463f3a;
    --secondary-color: #8a817c;
    --text-color: #5b5b5b;
    --white : #ffffff ;
    --black : #222222 ; 
} */
/* Maront */
:root {
    --primary-color: #2f3e46;
    --secondary-color: #354f52;
    --text-color: #5b5b5b;
    --white : #ffffff ;
    --black : #222222 ; 
}


/* box-shadow: 0px 5px 20px #55555559; */